<section class="container">
  <div class="flex flex-col lg:flex-row">
    <ly-living-portrait/>
    <div>
      <h1 class="text-3xl font-bold">
        Hey there :) I'm Stepan and I develop software and other things
      </h1>
      <p>I develop things for mobile, web, and I love to teach people about programming features, software architecture
        and quality.</p>
      <ul>
        <li>Working at <a href="https://twnty.de/">twnty Digital</a></li>
        <li>Interesting e-Commerce</li>
      </ul>
    </div>
  </div>
</section>
