<footer class="ly-footer container">
  <ul class="footer-nav">
    <li><a routerLink="/">{{ 'footer.info' | translate }}</a></li>
    <li><a routerLink="/contact">{{ 'footer.contact' | translate }}</a></li>
  </ul>
  <ul class="footer-social">
    <li><a href="https://www.linkedin.com/in/stepan-lukachyna-837b651b7/" target="_blank" rel="noopener noreferrer">LinkedIn</a></li>
    <li><a href="https://github.com/amin212121" target="_blank" rel="noopener noreferrer">Github</a></li>
  </ul>
  <div class="footer-copy">{{ 'footer.copy' | translate }}</div>
  <div class="footer-quote">
    <b>{{ 'footer.quoteSuccess' | translate }}</b> {{ 'footer.quoteSuccessText' | translate }}
    <b>{{ 'footer.quoteGenius' | translate }}</b> {{ 'footer.quoteGeniusText' | translate }}
    <b>{{ 'footer.quoteGrowth' | translate }}</b> {{ 'footer.quoteGrowthText' | translate }}
  </div>
</footer>